
.my-masonry-grid {
  display: flex;
  margin-left: -16px;
  width: auto;
  /* background-color: blue; */
  padding: 2% 7%;
}

.my-masonry-grid_column {
  padding-left: 18px;
  background-clip: padding-box;
}

.image-container {
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.input-label {
  font-size: 16px; /* Adjust as needed */
  margin-bottom: 8px; /* Adjust as needed */
}

.input-field {
  margin-top: 15px;
  width: 30%;
  padding: 10px;
  font-size: 14px; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.image-text {
  position: absolute;

  /* bottom: 10px;
  left: 10px;  */

  background-color: rgba(255, 255, 255, 0.7);
  /* color: white; */
  padding: 5px 10px;
  border-radius: 3px;
 
}

span {
  /* border: 2px solid #ccc; */
  /* -webkit-text-stroke: 1px white; */
  text-shadow: -1px 0px 0px white, 1px 0px 0px white, 0px -1px 0px white,
    0px 1px 0px white;
  color: black;
  position: absolute;
  z-index: 1;

  font-weight: 900;
  font-size: 30px;
/* 
  bottom: 30px;
  left: 10px;  */
}
.cp{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: center;
}

.color-picker {
  position: absolute;
  z-index: 1;
}

.show-cp {
  background-color: black;
  height: 4vh;
  width: 3vw;
  border: 7px solid rgb(200, 200, 200);
}
.center-container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap:7%
}

.italic span{
  font-style: italic;
  font-weight: 300;
  word-spacing: none;
}

button{
  position: absolute;
  bottom: 5px;
  left:1px
}