.App {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three equal columns */
    gap: 20px;
    /* Gap between columns */
    padding: 20px;
}

.Group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}