.App {
  text-align: center;
}

.image-selection{
  width: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.preview{
  width: 30rem;
}

.container{
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selectors{
  display:  flex;
  flex-direction: column;
}

.text-input{
  display: flex;
  flex-direction: row;
}

.font-size{
  display: flex;
  flex-direction: column;
}

#size-up-icon{
  width: 25px;
}

#size-down-icon{
  width: 20px;
}